<div class="blog-preview">
  <div class="author-info">
    <img
      src="../../../../assets/user.png"
      alt="Author Picture"
      class="author-pic"
    />
    <div class="author-details">
      <h3 class="author-name">Author Name</h3>
      <p class="author-handle">&#64;AuthorHandle</p>
    </div>
  </div>
  <div class="blog-content">
    <h1>{{ item.title }}</h1>
    <p>
      {{ item.body }}
    </p>
  </div>
  <div class="blog-actions">
    <mat-icon [ngClass]="{ liked: item.like, 'not-liked': !item.like }">
      favorite
    </mat-icon>
    <mat-icon>share</mat-icon>
    <ng-container *ngIf="list">
      <mat-icon (click)="edit(item.id)">edit</mat-icon>
      <mat-icon (click)="delete(item.id)">delete</mat-icon>
    </ng-container>
  </div>
</div>
